/*************
  By: Jorge Luis Madrid

  1. General normalitation
  2. HD Desktop styling (> 1150px)
  3. Small screen desktop (>768px and < 1150)
  4. Mobile styling (<768px)
**************/

/*
  1. General normalitation
*/

/*
  Just if you're wonder why:
  * selector is not slow, it is slow if you use it in something
  like .bar > *
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

body a {
	font: 5vmin/1.5 HUGEAvantGardeBold;
	letter-spacing: -0.03em;
	text-decoration: none;
}

h1{
  font: 12vmin/1 HUGEAvantGardeBold;
}

li {
  list-style: none;
}

/*
I didn't use any fallback color since this css will run only in chrome, which supports rgba colors
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
}

.huge-logo {
  background-image: url(../images/HUGE-white.png);
}

.hero-image{
  background-image: url(../images/background-image.jpg);
}

/*
  2. Desktop styling (>= 1150)
*/
@media screen and (min-width: 1150px) {

  nav {
    height: 5rem;
    position: relative;
    background-color: #ec008c;
  }

  nav a {
    font-size: 2rem;
    color: #fff;
  }

  .nav-content--container {
  	margin: 0;
  	padding: 0;
  	left: 14%;
  	top: 0;
  	position: absolute;
  	min-height: 99%;
  	min-width: 85%;
  	max-width: 85%;
  }

  .nav-content--container > li {
    display: inline-block;
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
  }

  .nav-content--container li:hover > a{
    color: #ec008c;
  }

  .nav-content--container li:hover{
    background-color: #fff;
    transition: 0.3s;
  }

  .nav-content--selected {
    background-color: #fff;
    transition: 0.3s;
  }

  .nav-content--selected > a {
    color: #ec008c;
  }

  .collapsible-body {
  	display: none;
  	position: absolute;
  	z-index: 22;
  	left: 0;
  	background-color: #fff;
  	padding: 0.5rem;
  	top: 100%;
  	width: 14rem;
  }

  .selected {
    display: block;
  }

  .collapsible-body > a {
    color: #000;
  }

  .collapsible-body ul {
    padding: 0;
  }

  .dropdown a {
    font: 5vmin/1 Galaxie;
    letter-spacing: -0.06em;
  }

  .dropdown li {
    padding: 5%;
  }

  /*
    Logo
  */
  .huge-logo {
  	background-size: contain;
  	background-repeat: no-repeat;
  	height: 100%;
  	position: absolute;
  	left: 3%;
  	width: 6.7%;
  	background-position: 0 44%;
  }

  /*
    Content
  */
  .content {
    min-width: 100%;
    position: relative;
    top: 0;
  }

  .content .container {
    padding: 0 24px;
  }

  .hero-image {
    min-width: 100%;
    background-size: cover;
    height: 640px;
    display: block;
    position: absolute;
  }

  .lg-font {
  	color: #fff;
  	font: 12vmin/1 HUGEAvantGardeBold;
  	letter-spacing: -0.06em;
  	text-align: center;
  	position: absolute;
  	top: 13rem;
  	width: 35rem;
  	left: 10%;
  	margin: 0 auto;
  	font-size: 6rem;
  	right: 10%;
  }

  .content p {
    position: absolute;
    font: 5vmin/1 Galaxie;
    width: 80%;
    text-align: justify;
    top: 41rem;
    left: 8%;
    font-size: 2rem;
  }

  .collapsible-body ul li > a {
    font-size: 1rem;
    color: black;
  }

  .dropdown a {
    font: 5vmin/1 Galaxie;
    letter-spacing: -0.06em;
  }

  .copy {
    display: none;
  }
}

/*
  3. Small screen desktop (>768px)
*/
@media screen and (min-width: 768px) and (max-width: 1150px) {

  nav {
    height: 3.5rem;
    position: relative;
    background-color: #ec008c;
  }

  nav a {
    font-size: 1.5em;
    color: #fff;
  }

  .nav-content--container {
  	margin: 0;
  	padding: 0;
  	left: 14%;
  	top: 0;
  	position: absolute;
  	min-height: 99%;
  	min-width: 85%;
  	max-width: 85%;
  }

  .nav-content--container > li {
  	display: inline-block;
  	position: relative;
  	padding: 1.2% 1.4%;

  }

  .nav-content--container li:hover > a{
    color: #ec008c;
  }

  .nav-content--container li:hover{
    background-color: #fff;
    transition: 0.3s;
  }

  .nav-content--selected{
    background-color: #fff;
    transition: 0.3s;
  }

  .nav-content--selected > a {
    color: #ec008c;
  }

  .collapsible-body {
  	display: none;
  	position: absolute;
  	z-index: 22;
  	left: 0;

  	background-color: #fff;
  	padding: 0.5rem;
  	top: 3.5rem;
  	width: 14rem;
    transition: 0.4s;
  }

  /*
    Show the hidden sub-menu once the action is called
  */
  .selected {
    display: block;
  }

  .collapsible-body > a {
    color: #000;
  }

  .collapsible-body ul {
    padding: 0;
  }

  .dropdown a {
    font: 5vmin/1 Galaxie;
    letter-spacing: -0.06em;
  }

  .dropdown li {
    padding: 5%;
  }

  .overlay {
  	height: 120vh;
  	background-color: rgba(0,0,0,0.5);
    z-index: 0;
  }
  /*
    Logo
  */

  .huge-logo {
  	background-size: contain;
  	background-repeat: no-repeat;
  	height: 100%;
  	position: absolute;
  	left: 3%;
  	width: 6.7%;
  	background-position: 0 44%;
  }

  /*
    Content
  */
  .content {
    min-width: 100%;
    position: relative;
    top: 0;
  }

  .content .container {
    padding: 0 24px;
  }

  .hero-image {
    min-width: 100%;
    background-size: cover;
    height: 640px;
    display: block;
    position: absolute;
  }

  .md-font {
  	color: #fff;
  	font: 12vmin/1 HUGEAvantGardeBold;
  	letter-spacing: -0.06em;
  	text-align: center;
  	position: absolute;
  	top: 13rem;
  	width: 70%;
  	left: 15%;
  	margin: 0 auto;
  	font-size: 6rem;
  	min-width: 70%;
  }

  .content p {
  	position: absolute;
  	font: 5vmin/1 Galaxie;
  	width: 80%;
  	text-align: justify;
  	top: 41rem;
  	left: 5rem;
  	font-size: 1.5rem;
  	min-width: 80%;
  }

  .collapsible-body ul li > a {
    font-size: 1rem;
    color: black;
  }

  .dropdown a {
    font: 5vmin/1 Galaxie;
    letter-spacing: -0.06em;
  }

  .copy {
    display: none;
  }

}

/*
  3. Mobile styling (<768px)
*/
@media screen and (max-width: 768px){

  /* General */
  ul {
    padding: 0;
  }

  li {
  	width: 100%;
  	padding: 14px 24px;

  }

  .nav-bar {
    background-color: #ec008c;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    height: 59px;
    color: #fff;
    padding-top: 0;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    backface-visibility: hidden;
  }

  .copy {
    position: relative;
    top: 27rem;
    padding: 10px 20px;
  }

  .copy p {
    font-family: 'Helvetica Neue';
    font-size: .9rem;
  }

  /*
    Logo
  */
  .huge-logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    position: absolute;
    left: 27px;
    top: 15px;
    width: 71px;
  }

  /*
    Close Button
  */
  .close-button{
    width: 104px;
    height: 74px;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  .close-button > i {
    background: url(../images/toggle-close.svg);
    background-repeat: no-repeat;
    bottom: 6px;
    height: 75px;
    position: absolute;
    right: 10px;
    width: 71px;
  }

  /*
    Burger Button
  */
  .burger-button {
  	cursor: pointer;
  	position: absolute;
  	left: 24px;
  	top: 8px;
  	width: 67px;
  }

  .burger-button > i {
  	background: url(../images/toggle-open.svg);
  	padding: 55% 38%;
  	top: 18px;
  	position: relative;
  	right: 18px;
  }

  /*
    Nav Content
  */
  .top-logo {
    z-index: 2000;
    margin-top: 0;
    width: 101%;
    height: 59px;
    background: #ec008c;
  }

  .nav-content {
    background-color: #fff;
    bottom: 0;
    position: fixed;
    top: 0;
    overflow: auto;
    z-index: 1000;
        max-width: 54%;
    height: 100vh;
    overflow-y: scroll;
  }

  .responsive{
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-content ul li > a{
    color: #000;
  }

  /*
    Hiden sub ul
  */
  .collapsible-body{
    display: none;
    padding: 0;
  }

  .collapsible-body ul {
    margin-top: 32px;
  }

  .collapsible-body ul > li {
    height: 48px;
  }

  .collapsible-body ul li > a {
    font-size: 1.5rem;
  }

  /*
    Hovers
  */
  .collapsible-body li:hover a{
    color: #ec008c;
  }

  .toggle:hover{
    background: #eee;
  }

  .nav-content--container > li{
    padding: 12px 24px;
  }

  .dropdown li {
    margin-top: 10px;
    padding-left: 0;

  }

  .dropdown a {
    font: 5vmin/1 Galaxie;
    letter-spacing: -0.06em;
  }

  /*
    Show the hidden sub-menu once the action is called
*/
  .selected {
    display: block;
    width: 96%;
    position: relative;
    top: -36px;
  }

  /*
    Content
  */
  .content {
    min-width: 100%;
    position: absolute;
    top: 0;
  }

  .content .container {
    padding: 0 24px;
  }

  .hero-image {
    min-width: 100%;
    background-size: cover;
    height: 369px;
    display: block;
  }

  .sm-font {
    color: #000;
    font-size: 2rem;
    margin: 50px 0;
    font: 10vmin/1 HUGEAvantGardeBold;
    letter-spacing: -0.06em;
    text-align: left;
  }

  .content p {
    font: 5vmin/1 Galaxie;
    text-align: justify;
  }

}
